CurrencyExchange.Client/Connected Services/ExchangeServiceReference/ExchangeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ExchangeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50916/ExchangeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50916/ExchangeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CurrencyExchange.Service.Models" />
      <xsd:import schemaLocation="http://localhost:50916/ExchangeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExchangeService_GetExchangeRates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeRates" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_GetExchangeRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeRatesResponse" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_GetExchangeRates_ExchangeServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/CurrencyExchange.Service.Models" name="detail" element="q1:ExchangeServiceFault" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_GetExchangeRate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeRate" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_GetExchangeRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExchangeRateResponse" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_GetExchangeRate_ExchangeServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/CurrencyExchange.Service.Models" name="detail" element="q2:ExchangeServiceFault" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_ExchangeCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:ExchangeCurrency" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_ExchangeCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExchangeCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="IExchangeService_ExchangeCurrency_ExchangeServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/CurrencyExchange.Service.Models" name="detail" element="q3:ExchangeServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IExchangeService">
    <wsdl:operation name="GetExchangeRates">
      <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/GetExchangeRates" message="tns:IExchangeService_GetExchangeRates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/GetExchangeRatesResponse" message="tns:IExchangeService_GetExchangeRates_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IExchangeService/GetExchangeRatesExchangeServiceFaultFault" name="ExchangeServiceFaultFault" message="tns:IExchangeService_GetExchangeRates_ExchangeServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExchangeRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/GetExchangeRate" message="tns:IExchangeService_GetExchangeRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/GetExchangeRateResponse" message="tns:IExchangeService_GetExchangeRate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IExchangeService/GetExchangeRateExchangeServiceFaultFault" name="ExchangeServiceFaultFault" message="tns:IExchangeService_GetExchangeRate_ExchangeServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExchangeCurrency">
      <wsdl:input wsaw:Action="http://tempuri.org/IExchangeService/ExchangeCurrency" message="tns:IExchangeService_ExchangeCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExchangeService/ExchangeCurrencyResponse" message="tns:IExchangeService_ExchangeCurrency_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IExchangeService/ExchangeCurrencyExchangeServiceFaultFault" name="ExchangeServiceFaultFault" message="tns:IExchangeService_ExchangeCurrency_ExchangeServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IExchangeService" type="tns:IExchangeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetExchangeRates">
      <soap:operation soapAction="http://tempuri.org/IExchangeService/GetExchangeRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExchangeServiceFaultFault">
        <soap:fault use="literal" name="ExchangeServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetExchangeRate">
      <soap:operation soapAction="http://tempuri.org/IExchangeService/GetExchangeRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExchangeServiceFaultFault">
        <soap:fault use="literal" name="ExchangeServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExchangeCurrency">
      <soap:operation soapAction="http://tempuri.org/IExchangeService/ExchangeCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExchangeServiceFaultFault">
        <soap:fault use="literal" name="ExchangeServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExchangeService">
    <wsdl:port name="BasicHttpBinding_IExchangeService" binding="tns:BasicHttpBinding_IExchangeService">
      <soap:address location="http://localhost:50916/ExchangeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>