CurrencyExchange.Client/Connected Services/ExchangeServiceReference/ExchangeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50916/ExchangeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CurrencyExchange.Service.Models" />
  <xs:element name="GetExchangeRates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CurrencyExchange.Service.Models" minOccurs="0" name="GetExchangeRatesResult" nillable="true" type="q1:ArrayOfExchangeRateDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currencyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExchangeRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExchangeRateResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExchangeCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CurrencyExchange.Service.Models" minOccurs="0" name="request" nillable="true" type="q2:ExchangeRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExchangeCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CurrencyExchange.Service.Models" minOccurs="0" name="ExchangeCurrencyResult" nillable="true" type="q3:ExchangeResultDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>